@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bundling and Minification Demo</h2>

<a href="~/CustomBundle">Custom Bundle</a>
<a href="~/Scripts/coffee/Coffee">Coffee Bundle</a>
