<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://todoapi20170622013738.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <PublishFramework />
    <ProjectGuid>5344ce4b-92e0-4801-9afd-02c7ad95d2f9</ProjectGuid>
    <MSDeployServiceURL>todoapi20170622013738.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ToDoAPI20170622013738</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ToDoAPI20170622013738</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ResourceId>/subscriptions/0c6dfb31-48dc-4c55-aaad-ecd1b6873b3c/resourcegroups/dockerMarianosz/providers/Microsoft.Web/sites/ToDoAPI20170622013738</ResourceId>
    <ContainerResourceId>/subscriptions/0c6dfb31-48dc-4c55-aaad-ecd1b6873b3c/resourcegroups/dockerMarianosz/providers/Microsoft.ContainerRegistry/registries/registry20170622013739</ContainerResourceId>
    <ContainerResourceName>registry20170622013739</ContainerResourceName>
    <ResourceGroup>dockerMarianosz</ResourceGroup>
    <Subscription>Developer Program Benefit</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20170622013739.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>