<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="38adc2b3-8d6e-4628-a17e-457982d80757" Publisher="CN=Jeff" Version="1.0.0.0" />
  <Properties>
    <DisplayName>ContosoCookbookUniversal.Windows</DisplayName>
    <PublisherDisplayName>Jeff</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ContosoCookbookUniversal.Windows.App">
      <m2:VisualElements DisplayName="Contoso Cookbook (U)" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="ContosoCookbookUniversal.Windows" ForegroundText="light" BackgroundColor="#C33D27">
        <m2:DefaultTile Square310x310Logo="Assets\LargeLogo.png" Wide310x150Logo="Assets\WideLogo.png" Square70x70Logo="Assets\MediumLogo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>